// _nav.scss
nav {
  background-color: #333;
  display: flex;
  justify-content: flex-end;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
  }
}