//footer 
footer {
  clear: both;
  background-color: #333;
  color: #fff;
  padding: 25px;
  text-align: center;
 }
.redes {
  ul {
  list-style: none;
}
  a{
    color: blueviolet;
  text-decoration: none;
}
}
.contacto p{
  a{
   
    text-decoration: none;
    color: blueviolet;
  }

}